.venv
.venv/
.idea
*.pyc
__pycache__/
.vscode
.DS_Store
.env
.env.local
.env.*.local
coverage
coverage.*
htmlcov
.pytest_cache
tox
dist
build
*.egg-info
.ipynb_checkpoints
.mypy_cache
.pyre
.pytype
celerybeat-schedule
instance
.webassets-cache
.scrapy
docs/_build
*.log
*.sqlite3
coverage.xml
nosetests.xml
test-reports
.coverage.*
pytest_cache/