name: Test Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DB_NAME: ${{secrets.DB_NAME}}

    services:
      mongo:
        image: mongo:7
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand({ ping: 1 })'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Get code into the runner machine (checkout repository)
        uses: actions/checkout@v3

      - name: Check Docker deamon
        run: docker info

      - name: Installing dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest test_app.py -v